:root {
  --color_header_background: #fff;
  --color_header_texto: #000;
}

#header {
  background-color: white;
  font-size: 20px;
  padding-left: 15px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.box-shadow-bottom {
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.1);
}

.icon {
  vertical-align: sub;
}

.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu li {
  display: inline;
  margin-right: 10px;
}

.menu a {
  text-decoration: none;
  color: var(--color_header_texto);
  vertical-align: sub;
  font-size: inherit;
}
.menu a:hover {
  font-size: 18px;
  border-bottom: 2px solid black;
  text-decoration: solid;
  text-decoration-color: black;
  font-size: inherit;
}

@media (max-width: 400px) {
  #header {
    width: 350px;
  }
  .material-icon.icon {
    font-size: 18px;
  }
  .menu a:hover {
    font-size: 18px;
    text-decoration: solid;
    text-decoration-color: black;
    display: relative;
    vertical-align: sub;
  }
  .menu a {
    font-size: 18px;
    text-decoration: solid;
    text-decoration-color: black;
    display: relative;
  }
}
