
#root{
  font-size: 12px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: 2em;
  width: 80vw;
}

body{
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.925);
  color: white;
  margin: 10em;
  height: 100vh;
}

.navbar{
  width: 95%;
  position: fixed;
  border-radius: .5em;
  margin-left: 1em;
  margin-left: 1em;
  left: 0;
  top: 0;
  
}

.post-background{
  position: fixed;
  margin-bottom: 5em;
  margin-top: 10em;
  background: white;
  color: black;
  width: 80vw;
  height: 50vh;
  border-radius: .5em;

  
}